<section id="about">
  <div class="container-fluid no-padding with-bg with-bg--1">
    <div class="color-overlay"></div>
    <div class="container">
      <!-- call to action -->
      <div class=" row g-pt-20 g-pb-30">
        <div class="col-md-8 col-sm-12 col-md-offset-4">
          <div class="call-action-v1 call-action-v1-boxed">
            <div class="call-action-v1-box">
                <div class="call-action-v1-in">
                    <h3 class="cta__title font-main">¿Necesita un presupuesto?</h3>
                    <p class="cta__text">Contactenos y nuestros colaboradores se comunicarán con usted dentro de los siguientes minutos.</p>
                </div>
                <div class="call-action-v1-in inner-btn page-scroll">
                    <a href="#contact" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Solicitelo</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end call to action -->
    </div>
  </div>

  <div class="container">
    <div class="g-pt-70 g-pb-80">
      <div class="row">
        <div class="col-md-5 g-pt-30">
          <img class="img-responsive about__img g-mb-30" src="<%= image_url 'about/about2.jpg' %>" alt="">
          <h3 class="about__title font-main g-mb-20">Sheriff S. A. - Su seguridad es nuestro compromiso</h3>
          <p class="about__text">Sheriff es una empresa dedicada a la instalación de sistemas de seguridad electrónica.</p>
        </div>
        <!-- Tabs -->
        <div class="col-md-7">
          <!-- Accordion v1 -->
          <div class="panel-group acc-v1 plus-toggle " id="accordion-1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle g-pt-0" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                    <span class="icon-user tab__icon g-mr-10"></span> Quienes somos
                  </a>
                </h4>
              </div>
              <div id="collapse-One" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p></p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                    <span class="icon-calendar tab__icon g-mr-10"></span> Nuestra historia
                  </a>
                </h4>
              </div>
              <div id="collapse-Two" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Sheriff es la fusión de varios ex colaboradores de empresas tales como Adt y Patroll entre otras.</p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                    <span class="icon-settings tab__icon g-mr-10"></span> Nuestros servicios
                  </a>
                </h4>
              </div>
              <div id="collapse-Three" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li>Asesorías en seguridad.</li>
                    <li>Proyectos en instalación.</li>
                    <li>Alarmas locales.</li>
                    <li>Cercos electricos.</li>
                    <li>Cierres perimetrales (rejas).</li>
                    <li>Circuito cerrado televisión.</li>
                    <li>Citofonía.</li>
                    <li>Control acceso.</li>
                    <li>Detección incendios.</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                    <span class="icon-diamond tab__icon g-mr-10"></span> Nuestros valores
                  </a>
                </h4>
              </div>
              <div id="collapse-Four" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Su seguridad es nuestro compromiso.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Accordion v1 -->
        </div>
      </div>
    </div>
  </div>
</section>
