<section id="career">
  <div class="container g-pt-80">
    <div class="heading-v14 text-center g-mb-60">
      <span class="heading-v14__block-name g-dp-block g-mb-20">Career</span>
      <h1 class="heading-v14__title font-main g-mb-60">Work with us</h1>
      <p class="heading-v14__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
  </div>

  <div class="container-fluid with-bg with-bg--5 no-padding">
    <div class="color-overlay"></div>
    <div class="container content-lg g-pt-90">
      <!-- Owl Carousel v3-->
      <div class="owl2-carousel-v3 owl-theme controls-v3">
        <div class="item text-center">
          <h2 class="career__title font-main g-mb-40">Welder</h2>
          <p class="career__text g-mb-40">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
          <a href="#" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Submit resume</a>
        </div>
        <div class="item text-center">
          <h2 class="career__title font-main g-mb-40">Mollitia</h2>
          <p class="career__text g-mb-40">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
          <a href="#" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Submit resume</a>
        </div>
        <div class="item text-center">
          <h2 class="career__title font-main g-mb-40">Cupiditate</h2>
          <p class="career__text g-mb-40">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
          <a href="#" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Submit resume</a>
        </div>
      </div>
    </div>
  </div>
</section>
