<section class="promo-section" id="intro">
  <div class="container-fluid no-column-space">
    <div class="row">
      <div class="col-sm-6">
        <div class="fullscreen-static-image1 fullheight promo-block">
          <div class="promo-block__content g-pr-50">
            <div class="text-right pull-right">
              <span class="promo__pretitle g-dp-block g-mb-20"></span>
              <h1 class="promo__title promo__title--right-bar g-pr-30 font-main g-mb-30">Su<br> Seguridad</h1>
              <!-- <a href="#" class="btn-u btn-u--construction trim">Leer más <i class="g-ml-10 fa btn-u__fa fa-arrow-left"></i></a> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="fullscreen-static-image2 fullheight promo-block">
          <div class="promo-block__content g-pl-50">
            <div class="text-left pull-left">
              <span class="promo__pretitle g-dp-block g-mb-20"></span>
              <h1 class="promo__title g-pl-30 promo__title--left-bar font-main g-mb-30">Nuestro<br> Compromiso</h1>
              <!-- <a href="#" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Leer más</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
