<section id="projects">
  <div class="container-fluid with-bg with-bg--2 no-padding">
    <div class="color-overlay"></div>
    <div class="container content-lg">
      <div class="heading-v14 heading-v14--diff text-center g-mb-100">
        <span class="heading-v14__block-name g-dp-block g-mb-20">Recent Projects</span>
        <h1 class="heading-v14__title font-main">Projects in progress</h1>
      </div>

      <div class="row">
        <div class="col-md-4 g-sm-mb-50">
          <span class="project__cat">Building</span>
          <h3 class="project__title font-main g-mb-20">Excepteur sint occaecat cupidatat</h3>
          <img class="project__img img-responsive g-mb-20" src="<%= image_url 'projects/project1.jpg'%>" alt="">
          <p class="project__text g-mb-40">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="#" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> View Project</a>
        </div>

        <div class="col-md-4 g-sm-mb-50">
          <span class="project__cat">Building</span>
          <h3 class="project__title font-main g-mb-20">Excepteur sint occaecat cupidatat</h3>
          <img class="project__img img-responsive g-mb-20" src="<%= image_url 'projects/project2.jpg'%>" alt="">
          <p class="project__text g-mb-40">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="#" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> View Project</a>
        </div>

        <div class="col-md-4">
          <span class="project__cat">Building</span>
          <h3 class="project__title font-main g-mb-20">Excepteur sint occaecat cupidatat</h3>
          <img class="project__img img-responsive g-mb-20" src="<%= image_url 'projects/project3.jpg'%>" alt="">
          <p class="project__text g-mb-40">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="#" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> View Project</a>
        </div>
      </div>
    </div>
  </div>
</section>
