<section id="contact">
  <div class="container content-lg">
    <div class="heading-v14 text-center g-mb-60">
      <span class="heading-v14__block-name g-dp-block g-mb-20">Contactenos</span>
      <h1 class="heading-v14__title font-main g-mb-60">Te estamos esperando</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled contact__table">
          <li class="contact__cell contact__cell--1 text-center">
            <ul class="list-unstyled">
              <li><span class=" icon-anchor contact-list__icon g-dp-block g-mb-30"></span></li>
              <li class="contact-list__item-1">Dirección</li>
              <li class="contact-list__item-2">
                Apoquindo 5583, Las Condes, Santiago
              </li>
            </ul>
          </li>
          <li class="contact__cell contact__cell--2 text-center">
            <ul class="list-unstyled">
              <li><span class=" icon-call-in contact-list__icon g-dp-block g-mb-30"></span></li>
              <li class="contact-list__item-1">Teléfono</li>
              <li class="contact-list__item-2">+56 22 710 2015</li>
            </ul>
          </li>
          <li class="contact__cell contact__cell--3 text-center">
            <ul class="list-unstyled">
              <li><span class="icon-envelope-open contact-list__icon g-dp-block g-mb-30"></span></li>
              <li class="contact-list__item-1">Email</li>
              <li class="contact-list__item-2">ventas@sheriff.cl</li>
            </ul>
          </li>
          <li class="contact__cell contact__cell--4 text-center">
            <ul class="list-unstyled">
              <li><span class="icon-earphones-alt contact-list__icon g-dp-block g-mb-30"></span></li>
              <li class="contact-list__item-1">Emergencias 24/7</li>
              <li class="contact-list__item-2">+56 9 5653 8565</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="form">
          <!-- <form action="#" method="post" id="sky-form3" class="sky-form contact-style">
            <fieldset class="contact__form-fieldset">
              <div class="row">
                <div class="col-md-12 g-mb-10">
                  <div>
                    <input type="text" name="name" id="name" class="form-control contact__form-control" placeholder="Nombre">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 g-mb-10">
                  <div>
                    <input type="text" name="phone" id="phone" class="form-control contact__form-control" placeholder="Teléfono">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 g-mb-10">
                  <div>
                    <input type="text" name="subject" id="subject" class="form-control contact__form-control" placeholder="Asunto">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 g-mb-40">
                  <div>
                    <textarea rows="5" name="message" id="message" class="form-control contact__form-control g-textarea-noresize" placeholder="Mensaje"></textarea>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn-u btn-u--construction trim">
                    <i class="g-mr-20 fa btn-u__fa fa-arrow-right"></i> Enviar mensaje
                  </button>
                </div>
              </div>
            </fieldset>

            <div class="message text-center">
              <i class="rounded-x fa fa-check"></i>
              <p>Tú mensaje fue envíado satisfactoriamente!</p>
            </div>
          </form> -->
        </div>
      </div>
    </div>
  </div>
</section>
