<footer class="footer">
  <div class="container-fluid no-padding with-bg with-bg--6">
    <div class="color-overlay"></div>
    <div class="container content-md">
      <div class="row">
        <div class="col-md-5 text-left text-sm-center g-sm-mb-20 g-pt-30">
          <p class="footer__text">&copy; 2017 All right reserved.<strong> Sheriff S. A.</strong> Desarollado por <strong>Almapase</strong></p>
        </div>
        <div class="col-md-2 text-center g-sm-mb-20 g-pt-20">
          <p class="footer__support">Servicio técnico 24/7 <br> <span class="footer__support--phone">+56 9 5653 8565</span></p>
        </div>
        <div class="col-md-5 text-right text-sm-center g-pt-25">
          <ul class="list-inline footer__list">
            <!-- <li><a href="https://twitter.com/SheriffEmpresa" class="btn btn-block btn-twitter-inversed rounded"><i class="fa fa-twitter"></i> Twitter</a></li> -->
            <!-- <li><a href="#"><i class="icon-custom footer__fa icon-sm fa fa-pinterest-p"></i></a></li> -->
            <li><a href="https://www.facebook.com/Sheriffseguridadchile/" class="btn btn-block btn-facebook-inversed rounded" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
            <!-- <li><a href="#"><i class="icon-custom footer__fa icon-sm fa fa-instagram"></i></a></li> -->
            <!-- <li><a href="#"><i class="icon-custom footer__fa icon-sm fa fa-linkedin"></i></a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
